<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.questionnaire.mapper.AnswerMapper">

    <sql id="Base_Column_List">
        id,question_id,content,page_id,no
    </sql>

    <select id="selectAll" resultType="com.questionnaire.entity.Answer">
        select
        answer.*, question.name as questionName, pages.name as pageName,user.name as userName
        from answer
        left join question
        on answer.question_id = question.id
        left join pages
        on answer.page_id = pages.id
        left join user
        on answer.user_id = user.id
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="questionId != null"> and question_id = #{questionId}</if>
            <!--模糊查询-->
            <if test="content != null"> and answer.content like concat('%', #{content}, '%')</if>
            <if test="pageId != null"> and page_id = #{pageId}</if>
            <if test="pageName != null"> and pages.name like concat('%', #{pageName}, '%')</if>
            <if test="questionName != null"> and question.name like concat('%', #{questionName}, '%')</if>
            <if test="userId != null"> and user.id = #{userId}</if>
            <if test="userName != null"> and user.name = #{userName}</if>
            <if test="no != null"> and no = #{no}</if>
            <if test="createTime != null"> and create_time = #{createTime}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.questionnaire.entity.Answer">
        select
        <include refid="Base_Column_List" />
        from answer
        where id = #{id}
    </select>

    <select id="selectByPageId" resultType="com.questionnaire.entity.Answer">
        select
        <include refid="Base_Column_List" />
        from answer
        where page_id = #{pageId}
    </select>

    <delete id="deleteById">
        delete from answer
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.questionnaire.entity.Answer" useGeneratedKeys="true" keyProperty="id">
        insert into answer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="questionId != null">question_id,</if>
            <if test="content != null">content,</if>
            <if test="pageId != null">page_id,</if>
            <if test="no != null">no,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="questionId != null">#{questionId},</if>
            <if test="content != null">#{content},</if>
            <if test="pageId != null">#{pageId},</if>
            <if test="no != null">#{no},</if>
            <if test="createTime != null">#{createTime},</if>

        </trim>
    </insert>

    <update id="updateById" parameterType="com.questionnaire.entity.Answer">
        update answer
        <set>
            <if test="questionId != null">
                question_id = #{questionId},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="pageId != null">
                page_id = #{pageId},
            </if>
            <if test="no != null">
                no = #{no},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>